{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-90">        
            <div class="col-12 my-auto">       
                <div>
                    <!-- welcome and information -->
                    <div id="welcome-message">
                    <h2 id="welcome-header">Welcome to </h2>
                    <h2>LUCA <span class="red-logo">TAPED</span></h2>
                    <p>My name is Luca and I'm an avid scooter rider.</p>
                    <p>My plan is to bring the world of scooters to Ireland.</p>
                    <p>I am sourcing the best products and accessories for scooters from around the world and bringing them to you.</p>                    
                </div>
            </div>       
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                    <h4>
                        <a href="{% url 'blog' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Blog</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}