<footer>
    <div class="socials" id="mc_embed_shell">
        <div id="mc_embed_signup">
            <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=a3a2e63c8010a3b8be4e8152a&amp;id=78a8d1a133&amp;f_id=00f70ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                <hr>
                <div id="mc_embed_signup_scroll"><h2>Subscribe to our newsletter and get the latest updates from LucaTaped</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                <input type="text" name="b_a3a2e63c8010a3b8be4e8152a_78a8d1a133" tabindex="-1" value="">
            </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iLBNd2" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
        
        
    <ul class="socials">
        <li><a href="https://www.facebook.com/61557013865668" target="_blank" rel="noopener"
                aria-label="opens facebook page in a new tab"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://instagram.com/luca_tapedoffical/" target="_blank" rel="noopener"
                aria-label="opens instagram page in a new tab"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://www.tiktok.com/@luca_tapedoffical" target="_blank" rel="noopener"
                aria-label="opens twitter page in a new tab"><i class="fa-brands fa-tiktok"></i></a></li>
        <div class="col"><a href="https://www.termsfeed.com/live/72eaf539-06d5-47d9-887e-653abcc788b3">Privacy Policy</a></div>
    </ul>

    
</footer>