<footer>
    <div class="socials" id="mc_embed_shell">
        <div id="mc_embed_signup">
            <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=a3a2e63c8010a3b8be4e8152a&amp;id=78a8d1a133&amp;f_id=00f70ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                <hr>
                <div><h2 id="mailchimp-text">Subscribe to our newsletter and get the latest updates from LucaTaped</h2>
                    <div ><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                <div class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                <input type="text" name="b_a3a2e63c8010a3b8be4e8152a_78a8d1a133" tabindex="-1" value="">
            </div>
                
            </div>
        </form>
        </div>
        </div>
        
    <ul class="socials">
        <li><a href="https://facebook.com" target="_blank" rel="noopener"
                aria-label="opens facebook page in a new tab"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://instagram.com/luca_tapedoffical/" target="_blank" rel="noopener"
                aria-label="opens instagram page in a new tab"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://www.tiktok.com/@luca_tapedoffical" target="_blank" rel="noopener"
                aria-label="opens twitter page in a new tab"><i class="fa-brands fa-tiktok"></i></a></li>
    </ul>
</footer>